In [1]:
import csv
from evaluate import get_all_metrics

In [2]:
spacing, maximum_spread, coverage = get_all_metrics()

In [5]:
algos = ["itlbo", "mode", "moea_d", "nsga_ii"]
csv_file = "spacing.csv"
def write2csv(datas, csv_file):
    with open(csv_file, 'w') as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=algos)
        writer.writeheader()
        for data in datas:
            writer.writerow(data)

In [4]:
write2csv(spacing, csv_file)

In [5]:
csv_file = "maximum_spacing.csv"
write2csv(maximum_spread, csv_file)

In [13]:
csv_file = "coverage.csv"
with open(csv_file, 'w') as csvfile:
    writer = csv.writer(csvfile, algos)
    
    for c in coverage:
        for line in c:
            writer.writerow(line)
        writer.writerow('/n')

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('spacing.csv')
data

   itlbo   mode  moea_d  nsga_ii
0   1.31   2.12   13.30     0.53
1   1.54   6.35    6.68     9.18
2   9.37  47.26   30.66     2.79
3   2.24   7.33   22.19     3.49
4   1.89  26.63  286.27     2.10
5   1.67  16.17  118.99     5.47
6   2.91  15.70    9.08     2.28
7  11.02  35.90   15.98     5.17